:root {
  --font-display: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;

  --blue: #264f7e;
  --white: #edeae8;
  --black: #070600;
  --red: #b6244f;

  --grid-size: 80;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
